.header {
    grid-area: head;
    background-color: #d9d96c;
}

.header img {
    /*height: 400px;*/
    /*overflow: hidden; height: 300px;*/
    width: 15%;
    //height: 25%;
    /*object-fit: cover;*/
    /*object-position: center;*/
}

